body
{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    width: 100%;
}

#container
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#head
{
    background-color: #4682B4;
    color: white;
    padding: 20px;
    font-size: 160%;
    line-height: 400%;
    text-align: center;
}

#main
{
    background-color: #40E0D0;
    width: 100%;
    font-size: 130%;
    line-height: 200%;
    text-align: center;
    float: left;
    
}

#postacie
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#miejsca
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#wydarzenia
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#artefakty
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#footer
{
    width: 100%;
    font-size: 90%;
    text-align: center;
    clear: both;
    line-height: 500%;
}
