body
{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    width: 100%;
}

#container
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#head
{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 160%;
    line-height: 400%;
    text-align: center;
}
#head {
  position: relative;
  background: black;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

#head h3 {
  position: relative;
}

#head:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, gray, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

#head:hover:before {
  --size: 100px;
}

#main
{
    background-color: black;
    width: 100%;
    font-size: 130%;
    line-height: 200%;
    text-align: center;
    color: white; 
}

#nothing
{
    float: left;
    width: 5%;
    line-height: 200%;
}
#nothing_index
{
    float: left;
    width: 2%;
    line-height: 200%;
}
.postacie-container {
    width: 24%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
.postacie-img-holder {
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/lKkprxZ.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.postacie-img-holder:hover {
    transform: scale(1.2);
}
.postacie-title-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.postacie-title-link:hover {
    text-decoration: underline;
}

.miejsca-container {
    width: 24%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
.miejsca-img-holder {
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/5pWaZDO.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.miejsca-img-holder:hover {
    transform: scale(1.2);
}
.miejsca-title-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.miejsca-title-link:hover {
    text-decoration: underline;
}

.wydarzenia-container {
    width: 24%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
.wydarzenia-img-holder {
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/AxoNcCz.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.wydarzenia-img-holder:hover {
    transform: scale(1.2);
}
.wydarzenia-title-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.wydarzenia-title-link:hover {
    text-decoration: underline;
}

.artefakty-container {
    width: 24%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
.artefakty-img-holder {
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/udtKS7l.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.artefakty-img-holder:hover {
    transform: scale(1.2);
}
.artefakty-title-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.artefakty-title-link:hover {
    text-decoration: underline;
}

#miejsca
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#wydarzenia
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#artefakty
{
    background-color: aqua;
    width: 25%;
    font-size: 130%;
    text-align: center;
    float: left;
    line-height: 2500%;
}

#footer
{
    width: 100%;
    font-size: 90%;
    text-align: center;
    clear: both;
    line-height: 500%;
    color: white;
}




#header
{
    text-align: center;
    float: left;
    font-family: Verdana;
    width: 100%;
}

.header-text
{
    color: white;
    padding: 20px;
    font-size: 100%;
    line-height: 200%;
    text-align: center;
    text-decoration-line: none;
    font-family: Verdana;
}
#title
{
    color: white;
    float: left;
    width: 100%;
    text-align: center;
}

.postac-container {
    width: 15%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
.postac-img-holder {
    width: 90%;
    height: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.postac-img-holder:hover {
    transform: scale(1.2);
}
.postac-title-link {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.postac-title-link:hover {
    text-decoration: underline;
}
 
#news
{
    
}
.news
{
    color: white;
}

.miejsce-container {
    width: 14%;
    height: 500px;
    border: 1px solid #000000;
    overflow: hidden;
    position: relative;
    float: left;
}
#nothing_miejsca
{
    float: left;
    width: .6%;
    line-height: 200%;
}
#nothing_news
{
    float: left;
    width: 5%;
    line-height: 1000%;
}